server:
  name: "blockscan-service"
  port: 8080
  host: localhost

log:
  level: trace

redis:
  host: localhost
  port: 6379
  db: 0
  password: ""
  use_tls: false
  pool_size: 8
  max_retries: 2
  dial_timeout_seconds: 5
